<h1>Hello world @ {{now}}</h1>

<a href="/organisasjoner/partier">Partier</a><br>
<a href="/representanter">Representanter</a><br>

<br><br>
Liste med lenker:<br>
<a href="/omoss">Om oss</a><br>
<a href="/kontakt">Kontakt</a><br>
<a href="/mennesker">Mennesker</a><br>
<a href="/oss">Ofte stilte spørsmål</a><br>
<a href="/metode">Metode?</a><br>
<a href="/venner">Venner</a> (Stod partnere i oversikten).<br>
<a href="/vilkår">Vilkår</a><br>
<a href="/blogg">blogg</a><br>
