{{#contentFor "title"}}Holder de ord{{/contentFor}}

<ul>
    <li><a href="/representanter/jes">Jens</a></li>
    <li><a href="/representanter/es">Erna</a></li>

    {{#representatives}}
      <li><a href="/representanter/{{slug}}">{{first_name}}</a></li>
    {{/representatives}}
</ul>
