{{#contentFor "title"}}Holder de ord{{/contentFor}}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            Partier

            <ul class="list-unstyled">
                {{#parties}}
                    <li><a href="/partier/{{slug}}">{{name}}</a></li>
                {{/parties}}
            </ul>
        </div>

        <div class="col-md-6">
            Saker

            <ul class="list-unstyled">
                {{#issues}}
                    <li><a href="/saker/{{slug}}">{{title}}</a></li>
                {{/issues}}
            </ul>

        </div>

    </div>
</div>