@charset "UTF-8";
// bootstrap variable overrides

//$body-bg: lightblue;

$headings-font-weight: normal;

$font-family-sans-serif:  "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-base:        $font-family-serif !default;

$text-color: black;
$link-color: #3399cc;

@import "bootstrap";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  font: 16px/1.5 $font-family-base;
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: auto;
  margin: 0;
  padding-bottom: 100px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0;
  padding-bottom: 1em; }

#siteheader {
  border-top: 4px solid black;
  margin-bottom: 2em;
  text-align: right;
  font-family: $font-family-sans-serif;
  position: absolute;
  width: 100%;
  a {
    color: black;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }

  .container {
    padding: 1.9em 0 1em 0;
  }

  h1 {
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1;
    @media (max-width: 767px) {
      margin-left: 20px;
    }
  }

  .clicky {
    font-weight: 700;
    font-size: 2em;
    background: rgba(black, 1);
    color: white;
    height: 1.5em;
    line-height: 1.6;
    text-align: center;
    border-radius: 2px;
    width: 1.55em;
    margin-left: -1em;
    position: fixed;
    top: 0.8em;
    transition: 0.5s;

    &:hover {
      background-color: black;
      transition: 0.1s;
      cursor: pointer;
    }
  }
}

img.portrait {
  border-radius: 10px;
}

.masthead {
  background: transparent 50% 50% no-repeat;
  background-size: cover;
  padding: 1em 0;
  height: 30em;
  position: relative;
  z-index: -1;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: -webkit-linear-gradient(top, rgba(#000, 0.6), rgba(#000, 0));
  }
}

.fullwidth {
  background: #eeeeee 50% 50% no-repeat;
  background-size: cover;
  height: 300px;
  margin: 2em 0;
}

.representatives {
  &:after {
    display: block;
    content: "";
    clear: left;
  }
  .representative {
    float: left;
    width: 20%;
    text-decoration: none;
    color: inherit;
    text-align: center;
    font-size: 0.9em;
    line-height: 1;
    box-sizing: border-box;
    height: 170px;
    padding: 10px;
    .image {
      margin: 0 auto 10px auto;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background: transparent 50% 0% no-repeat;
      background-size: 100% auto;
    }
    .name {
      font-family: $font-family-sans-serif;
      font-weight: 600;
    }
  }
}
